<div class="messages__list">
  <% @messages.each do |msg| %>
    <div class="messages__list__item">
      <div class="message">
        <div class="message__username">
          <%= msg.user.username %>
        </div>
        <div class="message__body">
          <%= msg.body %>
        </div>
      </div>
    </div>
  <% end %>
</div>
