<div class="messages">
  <%= render 'list' %>
  <%= render 'form' %>
</div>

<script>
  (function () {
    var messageForm = document.querySelector('#new_message');

    messageForm.addEventListener('ajax:success', function() {
      messageForm.querySelector('#message_body').value = '';
    });

  })();
</script>
