$color-main:          #24292e;
$color-alt:           #bfbfbf;
$color-alt-highlight: #ffffff;
$color-error:         #cf2030;
$color-warning:       #ffcc00;
$color-success:       #6cc04a;
$color-info:          #228dbf;
